.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .menuList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .menuItem {
    border-radius: 15px;
    width: 300px;
    height: 500px;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .detail{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin:0;
    padding: 0;
    
  }
 .leftSide ul{
  grid-column-start: 1;
  grid-column-end: 3;
  

 }
 .leftSide li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:left;
}

  .rightSide li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:right;
 }
 
 .rightSide li{
  list-style-type: none;
  margin: 0;
  padding: 0;
 }
 .rightSide ul{
  grid-column-start: 3;
  grid-column-end: 4;

 }
  .menuItem p {
    margin: 10px 20px;
    text-align: left;
  }
  .rightSide h2, .rating{
    color: rgb(150, 109, 5);
    
  }
  @media only screen and (max-width: 1300px) {
    .menuList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .menuList {
      grid-template-columns: 1fr;
    }
  }