
  
  

  
  .navbar  a {
    width: 70px;
    height: 30px;
    color:white;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
  }
  .navbar{
    background-color: rgba(114, 83, 3, 0.753);
    height: 70px;
    width: 100%;
    font-weight: bold;


  }
  .navbar .home{
    font-size: 40px;
    margin-left: 45%;
  }
  .navbar .menu{
    font-size: 20px;
    margin-right:20px;

  }