.searchbar {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;


 
  
  }
.searchbar input[type='text']{
    margin:300px 20px 50px 20px;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    
}
.searchbar button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(151, 110, 4);
    color: white;
    border:none;
    border-radius: 5px;
}
.searchbar .sorting{
    text-decoration: underline;
    padding-top: 100px;
}